/* BANNER IMAGE */
  
.banner_img {
    position: relative !important;
  }
  
   /*     -------------------------     TEXT AREA      ----------------------------    */

   .addListing {
    font-family: var(--font-amiri);
    font-weight: 700;
    margin-top: 42px;
    margin-bottom: 20px;
  }

  .info {
    font-family: var(--font-amiri);
    font-weight: 600;
    margin: 30px 0px;
  }

  .parentCheckbox {
    font-family: var(--font-poppins);
    font-weight: 400;
    margin: 24px 0px;
  }

  .checkapply {
    font-size: 0.9rem
  }

  .title {
    font-family: var(--font-amiri);
    font-weight: 600;
    margin: 20px 0px;
  }

  .listing {
    padding: 10px 12px;
  }

  .inputBox {
    margin-bottom: 20px;
  }

  .listingA {
    padding: 10px 12px;
    margin-bottom: 50px;
  }

  .listingbed {
    padding: 16px 0px;
  }

  .headingInput {
    padding: 30px 0px;
 }

  .subheading {
    font-family: var(--font-amiri);
    font-weight: 600;
    margin-bottom: 20px;
  }

  .twobtn {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
  }

  .savebtn {
    font-family: var(--font-poppins);
    font-weight: 600;
    padding: 10px 24px;
    border-radius: 5px;
    background: var(--white-font-color);
    border: 1px solid #999494;
  }

  .savebtn:hover {
    background: var(--btn-background-secondary) !important;
    border: 1px solid var(--btn-background-secondary) !important;
    color: var(--white-font-color);
    /* letter-spacing: 0.8px; this property make letter in proper spacing but button size also get changed so I need to discuss then remove thhis */
  }

  .continuebtn {
    font-family: var(--font-poppins);
    font-weight: 600;
    letter-spacing: 0.8px;
    width: 14%;
    display: flex;
    justify-content: center;
    background-color: var(--btn-background-secondary);
    color: var(--white-font-color) !important;
    border: none;
    padding: 10px 24px;
    border-radius: 5px;
    border: 1px solid var(--btn-background-secondary);
  }

  .continuebtn:hover {
    background-color: var(--black-btn-color);
    border: 1px solid var(--black-btn-color);
  }

  .para {
    font-size: 1.1rem;
    font-family: var(--font-amiri);
    font-weight: 400;
    margin: 30px 0px 20px;
  }