/* TOP IMAGE OF VIEW ALL PROPERTY PAGE */
.headImage {
  max-width: 1560px;
  height: auto;
}

.imageChild {
  position: relative !important;
}

/* VIEW BLOG STYLE */
.view_blog_date {
  font-family: var(--font-poppins);
  font-size: 14px;
}

.view_blog_title {
  font-family: var(--font-amiri);
  font-weight: 700;
}

/* BANNER IMAGE  */
.view_blog_banner_img {
  position: relative !important;
}

/*  -----------------     NINE CARDS CONTAINER     ----------------- */

.cardsParent {
  margin-top: 20px;
}

.cardsTitle {
  margin: 50px 0px;
  font-family: var(--font-amiri);
  font-weight: 600;
}

.cardChild {
}

.columnParent {
  margin-bottom: 60px;
  padding-bottom: 42px;
  position: relative !important;
}

.parentOf_img_textCard {
  /* position: relative !important; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.imageChild {
}

.blog_img {
  border-radius: 10px;
  width: 100%;
  height: auto;
  position: relative !important;
}

.cardTextParent {
  overflow: hidden;
  background: var(--white-background);
  width: 70%;
  height: 70%;
  padding: 16px;
  position: absolute;
  top: 200px;
  flex-shrink: 3;
}

.a_tag {
  color: var(--black-color);
  text-decoration: none;
}

.card_title {
  font-weight: 700;
  font-family: var(--font-poppins);
  font-size: 15px;
}

.contact_div {
  margin-bottom: 3px;
  /* position: relative; */
  right: 4px;
}

.byAdmin {
  color: var(--card-text-color);
  font-family: var(--font-poppins);
  font-size: 12px;
}

.bookmarkDiv {
  /* position: relative; */
  right: 1px;
}

.bookmark_text {
  font-family: var(--font-poppins);
  font-size: 14px;
  font-weight: 500;
  color: var(--btn-background-secondary);
}

.learnbtn {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.learnbtn_text {
  color: var(--card-text-secondary);
  margin-right: 10px;
  font-weight: 400;
  font-size: 1.1rem;
}

.learnIcon {
  position: relative;
  top: 5px;
}

/*  -----------------     PAGINATION CONTAINER     -----------------   */

.pagination_container {
  padding: 86px 0px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.pagination {
}

/*    ---------------------------------         MEDIA QUERY        ---------------------------------             */
@media only screen and (max-width: 768px) {
  .cardTextParent {
    flex-shrink: 2;
    top: 240px !important;
    width: 60% !important;
  }

  .bookmark_text {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 1400px) {
  .cardTextParent {
    top: 155px;
  }
}

@media only screen and (max-width: 1200px) {
  .cardTextParent {
    top: 114px;
    font-size: 10px;
    width: 84%;
  }
}

@media only screen and (max-width: 1000px) {
  .cardTextParent {
    top: 114px;
    font-size: 10px;
    width: 86%;
  }

  .card_title {
    font-size: 0.8rem;
    margin-bottom: 4px;
  }

  .bookmark_text {
    font-size: 0.64rem;
  }

  .learnbtn_text {
    font-size: 0.9rem;
  }

  .contact {
    height: 13px;
  }

  .learnbtn {
    margin-top: 2px;
  }
}
