/* VIEW BLOG STYLE */
.view_blog_date {
  font-family: var(--font-poppins);
  font-size: 14px;
}

.view_blog_title {
  font-family: var(--font-amiri);
  font-weight: 700;
}

/* BANNER IMAGE  */
.view_blog_banner_img {
  position: relative !important;
}

/* BOTTOM IMG SECTION */

.grouptalk {
  margin-top: 40px;

  position: relative !important;
}

.newBtn {
  background: var(--white-font-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  bottom: 40px;
  padding: 30px 40px 60px;
  right: 0px;
}

.groupParent {
  max-width: 1560px;
  height: auto;
}

.search {
  width: 25%;
  display: flex;
  justify-content: center;
  background-color: var(--btn-background-secondary);
  color: var(--white-font-color);
  border: none;
}

.grouptalkTitle {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 20px;
  font-family: var(--font-amiri);
}
