/* ------------------------- Bottom section -------------------------------*/

.grouptalk {
  /* margin-bottom: 50px; */
  position: relative !important;
}

.newBtn {
  background: var(--white-font-color);
  display: flex;
  justify-content: space-between;
  position: absolute;
  align-items: center;
  bottom: 0px;
  padding: 10px;
  right: 12px;
  border-radius: 5px 0 0 0;
}

.groupParent {
}

.searchBottom_link {
  text-decoration: none;
}

.searchBottom {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--btn-background-secondary);
  color: var(--white-font-color);
  border: none;
  font-weight: 590;
}

.searchBottom:hover {
  background-color: var(--black-btn-color) !important;
}

.grouptalkTitle {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0px;
  font-family: var(--font-amiri);
}
