@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;1,400;1,500&display=swap");
@import "bootstrap/dist/css/bootstrap.min.css";

:root {
  --font-dm-sans: "DM Sans", sans-serif;
  --light-font-color: #636363;
  --footer-font-color: #1c1c1c;
  --btn-background: #ff7757;
  --btn-background-secondary: #ff6764;
  --white-font-color: #ffffff;
  --white-background: #ffffff;
  --dark-grey-color: #747474;
  --dash-border-color: #B6B6B6;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
