.header {
  padding-top: 1rem;
  background-color: var(--header-background-color);
}
.container_header {
  height: inherit;
}

.top_nav_bar_col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
}

.logo_container {
  display: flex;
  align-items: center;
}

.top_nav_bar_container {
}
.top_header_register_host_col_container {
  display: flex;
}

.top_header_row_container {
  justify-content: space-between;
  /* align-self: flex-end; */
  width: -webkit-fill-available;
}

.top_header_Col_container {
  align-self: center;
}

.top_nav_bar_main_row {
  height: inherit;
  justify-content: space-between;
}

.top_nav_bar_row {
  justify-content: flex-end;
}
.register_host_btn_row {
  justify-content: space-between;
  margin-top: 0.6rem !important;
}

.headphones_icon {
  margin: 0 0.5rem;
}
.top_header_a,
.registerLink {
  text-decoration: none;
  color: var(--light-font-color);
  font-family: var(--font-poppins);
  transition-duration: 0.5s;
  font-size: 14px;
}

.top_header_a:hover,
.registerLink:hover {
  transition-duration: 0.5s;
  color: var(--btn-background);
}

.below_header_a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-family: var(--font-poppins);
  transition-duration: 0.5s;
  display: inline-block;
  margin-bottom: 5px;
  font-size: 14px;
}
.below_header_a:hover {
  transition-duration: 0.5s;
  color: var(--btn-background);
}

.register_btn {
  background-color: var(--black-color);
  font-family: var(--font-poppins);
  font-weight: 500;
  font-size: 14px;
  height: auto;
  padding: 1rem 1.9rem;
  border-radius: 0;
}

.register_btn:hover {
  background-color: var(--btn-background) !important;
}

/** Mobile Menu */

.mobile_menu {
}

.mobile_menu_main_container {
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: space-between;
}

.mobile_menu_div_container {
  align-self: center;
}

.off_canvas {
  width: 325px !important;
}

@media only screen and (min-width: 1200px) {
  .off_canvas_col {
    display: none;
  }
}

@media only screen and (max-width: 1200px) {
  .top_header_Col_container {
    display: none;
  }
  .top_nav_bar_col {
    justify-content: center;
  }
}

/* -----------       LOGIN SECTION        -----------------*/

.textParent {
  padding: 0px 20px !important;
}

.emailNumber {
  color: var(--light-font-color);
  font-size: 1rem;
  font-weight: 400;
  line-height: 20px;
  margin-top: 20px;
  padding-left: 20px;
}

.forgotActive {
  color: var(--light-font-color);
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 20px;
  margin-top: 20px;
  padding: 0px 20px;
}

.remember {
  font-size: 1rem;
  font-weight: 400;
  line-height: 18px;
  margin-top: 20px;
  padding: 0px 20px;
}

.password {
  border: 1px solid var(--light-font-color) !important;
  border-radius: 5px;
  padding: 6px;
  margin-left: 20px;
  width: 90%;
}

.meBox {
  color: var(--black-color);
  font-weight: 400;
  font-family: var(--font-poppins);
}

.signUpBtn {
  border: 0px;
  box-shadow: none !important;
  background: none;
  padding: 0;
  font-family: var(--font-poppins);
  color: var(--light-font-color);
  font-weight: 500;
}

.signIn {
  color: var(--white-font-color);
  background-color: var(--black-color);
  border-radius: 50px;
  font-size: 0.8rem;
  font-weight: 400;
  width: 22%;
  padding: 6px 0px;
  float: right;
  border: none;
  font-family: var(--font-poppins);
}

.forgot {
  color: var(--light-font-color);
  font-family: var(--font-poppins);
}

.register,
.register:hover {
  font-family: var(--font-amiri);
  font-weight: 700;
  color: var(--btn-background-secondary);
  text-decoration: underline;
  font-size: 1.2rem;
}

.donthaveAcc {
  font-family: var(--font-amiri);
  color: var(--black-color);
  font-weight: 700;
  font-size: 1.2rem;
  margin: 0px 8px 26px 0px;
}

/* --------------          REGISTER BLOCK        ---------------   */

.headerReg {
  font-family: var(--font-amiri);
  font-weight: 600;
  font-size: 1.4rem;
}

.dont_link_parent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.inputParent {
  flex-wrap: wrap;
  width: 100%;
  font-family: var(--font-poppins);
  padding: 20px 20px 10px;
}

.twoAgree {
  padding: 0px 20px;
}

.inputA {
  width: 100%;
  padding: 10px;
  border-radius: 8px 8px 0px 0px;
  border: 1px solid var(--light-font-color) !important;
}

.inputB {
  width: 100%;
  padding: 10px;
  border-radius: 0px;

  border: 1px solid var(--light-font-color) !important;
  border-top: none !important;
  border-bottom: none !important;
}

.inputC {
  width: 100%;
  padding: 10px;
  border-radius: 0px;

  border: 1px solid var(--light-font-color) !important;
  border-bottom: none !important;
}

.inputD {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--light-font-color) !important;
  height: auto;
  border-radius: 0px 0px 8px 8px;
}

.agreeOptionA {
  font-size: 1rem;
  font-weight: 400;
  margin: 10px 0px 20px;
  font-weight: var(--font-poppins);
}

.agreeOptionB {
  font-size: 1rem;
  font-weight: 400;
  font-weight: var(--font-poppins);
  margin-bottom: 14px;
}

.registerBtn {
  width: 100%;
  background: var(--black-color);
  color: var(--white-font-color) !important;
  font-size: 0.8rem;
  font-weight: 500;
  font-family: var(--font-poppins);
  text-align: center;
  border-radius: 0% !important;
  padding: 6% 0%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
}

.registBtnParent {
  margin: 20px 20px 100px !important;
}

/* ---------------         DROPDOWN CONTENT          ---------------*/

.edit_room_dropdown_btn {
  width: 91%;
  margin: 10px 20px;
  font-family: var(--font-poppins);
  color: var(--light-font-color);
  font-weight: 400;
}

.edit_room_dropdown_btn_space {
  width: 100%;
  justify-content: space-between;
  font-family: var(--font-poppins);
  color: var(--light-font-color);
  font-weight: 400;
}

.edit_room_dropdown_icon {
  display: flex;
}

/* ----------------        FORGOT SECTION BLOCK          ---------------- */

.headerForgot {
  font-family: var(--font-amiri);
  font-size: 1.6rem;
  font-weight: 600;
  display: flex;
  align-content: center;
}

.forgotHeading {
  font-family: var(--font-poppins);
  font-weight: 400;
  margin: 34px 0px 16px;
  padding: 0px 20px;
  font-size: 0.9rem;
}

.forgotInput {
  width: 95%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--light-font-color) !important;
  margin: 10px 20px;
  font-family: var(--font-poppins);
}

.forgotBtn {
  display: flex;
  justify-content: center;
}

.registBtn,
.registBtn:hover {
  width: 70%;
  background: var(--black-color);
  color: var(--white-font-color) !important;
  font-size: 0.8rem;
  font-weight: 500;
  font-family: var(--font-poppins);
  text-align: center;
  border-radius: 0% !important;
  margin: 20px 0px;
  padding: 3% 0%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
}
