/*    ------------------------------------   NAVBAR SECTION  --------------------------------   */

.search_bar_img_div {
  background-image: url("/images/golfBoy.png");
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.search_bar_main_container {
  display: flex;
  justify-content: center;
  padding-top: 4rem;
}

.search_bar_container {
  background-color: var(--white-background);
  border-radius: 15px;
  width: 100%;
  max-width: 1400px;
}

.searchBar {
  padding: 1rem;
  border-radius: 15px;
  background: var(--white-font-color);
}

.search_cols_4 {
  border-right: 2px dashed var(--dash-border-color);
}

.search_btn_col {
  display: flex;
  justify-content: center;
}

.search_btn_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search_btn {
  height: auto;
  padding: 1rem 7rem;
  border-radius: 100px;
  background-color: var(--btn-background);
  color: var(--white-font-color);
  font-size: 1.2rem;
  font-family: var(--font-dm-sans);
  font-weight: 500;
}

.inner_main_container {
  display: flex;
  height: 70px;
}
.inner_input_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10px;
  width: 100%;
}

.inner_input_box {
  border: none;
  font-size: 20px;
  font-family: var(--font-dm-sans);
}

.inner_input_box:focus {
  border: 1px solid;
  border-color: var(--btn-background);
}

.inner_input_date_picker:hover {
  border-color: var(--btn-background);
  border-inline-end-width: 1px;
}
.inner_input_date_picker:focus {
  border-color: var(--btn-background);
  border-inline-end-width: 1px;
}

.destination {
  color: var(--dark-grey-color);
  letter-spacing: 1px;
  margin-left: 0.7rem;
}

/*     ----------------------------------  SWIPER CONTAINER  -----------------------------  */

.golfCourses {
  margin: 3rem 0;
}

.golfHeading {
  color: var(--btn-background-secondary);
  margin-top: 16px;
  margin-bottom: 30px;
}

.para {
  line-height: 2.5pc;
  word-spacing: 1.5px;
}

.sliderImage {
  border-radius: 16px;
}

.parentImage {
  min-width: 332px;
  padding-bottom: 34px;
}

.countryName {
  position: relative;
  left: 30px;
  bottom: 56px;
  color: var(--white-font-color);
}

/* --------------------------------------- SEARCH CONTAINER ----------------------------------  */

.searchSection {
  margin-top: 40px;
  background-image: url(../../public/images/shot.png);
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

.content {
  color: var(--white-font-color);

  width: 96%;
  height: 63.5%;
}

.Title {
  line-height: 3.3pc;
}

.searchPara {
  line-height: 2.4pc;
  font-weight: 300;
  letter-spacing: 0.4px;
}

.searchPart {
  display: flex;
  justify-content: space-evenly;
}

.tournamentDiv {
}

.searchbox {
}

.textArea {
  border: none;
  padding: 10px;
  margin: 12px 36px 15px 0px;
  border-radius: 3px;
  width: 100%;
}

.boxes {
  gap: 42px;
  display: flex;
}

.box {
  border: none;
  padding: 10px;
  margin: 12px 36px 15px 0px;
  border-radius: 3px;
  width: 75%;
}

.btn {
  padding: 8px 38px;
  border-radius: 5px;
  margin: 10px 0px;
  color: var(--white-font-color);
  background-color: var(--btn-background);
  border: none;
}

/* ------------------------------        GolfhÅm Hottest New Arrivals         ------------------------------       */

.paraHeading {
  margin-bottom: 30px;
}

.arrivalContainer {
  display: flex;
  /* margin: 30px 0px 80px 0px; */
  /* justify-content: space-around; */
  width: auto;
  white-space: break-spaces;
  justify-content: space-between;
  min-width: 200px;
  /* max-width: 200px;     this won't let these images to sit in flex (horizontally) when screen is full, so don't use it */
  flex-wrap: wrap;
  margin: auto;
  height: auto;
  transition: all 0.2 linear;
}

.newyork {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)),
    url(/images/settingArea.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  color: white;
  display: flex;
  justify-content: center;
  font-size: 20px;
  align-items: self-end;
  border-radius: 12px;
  min-width: 422px;
  justify-content: flex-start;
  padding-bottom: 30px;
  padding-left: 24px;
}

.midImage {
  display: flex;
  place-self: self-end;
}

.midImgTitle {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)),
    url(/images/pool.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  color: white;
  display: flex;
  justify-content: center;
  font-size: 20px;
  align-items: self-end;
  border-radius: 12px;
  min-width: 400px;
  justify-content: flex-start;
  padding-bottom: 30px;
  padding-left: 24px;
}

.twoImgContainer {
  display: grid;
  place-self: end;
}

.madridImg {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)),
    url(/images/madrid.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 34.5vh;
  color: white;
  display: flex;
  justify-content: center;
  font-size: 20px;
  align-items: self-end;
  border-radius: 12px;
  min-width: 422px;
  justify-content: flex-start;
  padding-bottom: 30px;
  padding-left: 24px;
}

.resortImg {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)),
    url(/images/gaintWheel.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 34.5vh;
  color: white;
  display: flex;
  justify-content: center;
  font-size: 20px;
  align-items: self-end;
  border-radius: 12px;
  min-width: 422px;
  justify-content: flex-start;
  padding-bottom: 30px;
  padding-left: 24px;
}

/* ------------------------------        CARD SECTION         ------------------------------       */

.cardBg {
  background: linear-gradient(rgba(0, 0, 0, 0.04), rgba(0, 0, 0, 0.01));
  padding: 40px 0px;
}

.saddle {
  color: var(--light-font-color);
  margin-bottom: 0.6rem;
}

.MainCard {
  margin: 36px 0px;
}

.icon {
  display: -webkit-inline-box;
  color: var(--light-font-color);
  margin-bottom: 0.6rem;
}

.iconImg {
  display: flex;
  width: 38%;
}

.parking {
  color: var(--light-font-color);
}

.rightArrow {
  display: flex;
  float: right;
  margin: 5px;
}

.loadbtn {
  text-align: center;
}

.exclusive_btn {
  background-color: #ff6764;
  color: var(--white-font-color);
  border: none;
  padding: 10px 30px;
  margin: 20px;
  border-radius: 5px;
}

/* ------------------------------------       VACATION-RENTAL       ----------------------------------        */

.blurImg {
  background-image: url(/images/background.png);
  height: 632px;
  background-repeat: no-repeat;
  background-size: cover;
  /* display: flex;
  flex-wrap: wrap; */
  /* justify-content: space-between;
  align-items: center;
  flex-direction: column; */
}

/* .blurImg > * {
  flex-wrap: wrap;
  align-items: center;
  flex: 1 100%;
} */

.golfPit {
  /* position: relative;
  flex: 1;
  width: auto;
  height: auto; */
}

.golfpitChild {
  /* display: grid;
  grid-template-rows: 290px 226px 116px;
  grid-template-columns: 376px 376px; */
}

.pitImg {
}

.pit {
  /* position: relative; */
}

.golfball {
  /* position: relative; */
}

.golfText {
  /* position: relative;
  */
  /* flex: 2; 
  width: 100vw;
  */
}

.vacaDiv {
  /* display: grid;
  grid-template-rows: 280px 272px;
  width: 600px; */
}

.vacationTitle {
  color: #2f2f2f;
  /* place-self: end;
  letter-spacing: 1px; */
}

.vacationPara {
  /* line-height: 2.6rem;
  place-self: center; */
}

/* ------------------------------        GOLFING AND TRAVELING     ----------------------------------  */

.ads {
  padding: 60px 40px;
}

.adsTitle {
  padding: 30px 0px;
}

.bigDiv {
  padding: inherit !important;
}

.parentAds {
  min-width: 130px;
}

/*  -----------------------------       EXCLUSIVE PROPERTISE    --------------------------------           */

.exclusive {
  background-image: url(/images/room.png);
  height: 68vh;
  background-repeat: no-repeat;
  border-radius: 16px;
  width: 98%;
  display: grid;
  place-items: center;
  background-size: cover;
  margin-bottom: 90px;
}

.exHeading {
  display: grid;
  text-align: center;
  color: var(--white-font-color);
  background-image: url(/images/room.png);
  height: 68vh;
  background-repeat: no-repeat;
  border-radius: 16px;
  width: 98%;
  display: grid;
  place-items: center;
  background-size: cover;
  grid-template-rows: 180px 96px 56px;
}

.extitle {
  font-size: 3rem;
  font-weight: 350;
  text-align: center;
  align-self: flex-end;
}

.exProp {
  font-size: 2.8rem;
  align-self: center;
  text-align: center;
}

.bookBtn {
  background-color: var(--btn-background-secondary);
  color: var(--white-font-color);
  border: none;
  padding: 10px 30px;
  border-radius: 5px;
  align-self: center;
}

/* ------------------------------------        TRAINING VIDEOS       --------------------------------           */

.videoContain {
  margin: 50px 0px;
}

.paraBtn {
  display: flex;
  justify-content: space-between;
}

.paratext {
  line-height: 2rem;
}

.viewAll {
  color: var(--btn-background-secondary);
  background-color: white;
  border: none;
}

.parentVideo {
  padding: 40px 0px;
  min-width: 300px;
}

.videoImg {
  border-radius: 12px;
}

/* -----------------------------------        STAFF N WRITERS       -------------------------------              */

.staffCard {
  margin: 80px 0pc;
}

.parentReview {
  padding: 40px 0px;
  min-width: 320px;
}

.cardReview {
  border-radius: 12px;
}

/*    ---------------------------------         MEDIA QUERY        ---------------------------------             */
@media only screen and (max-width: 768px) {
  .search_cols_4 {
    margin-bottom: 1.5rem;
  }

  .blurImg {
    height: auto;
  }
}
