/*    ------------------------------------   NAVBAR SECTION  --------------------------------   */

.search_bar_img_div {
  background-image: url("/images/golfBoy.png");
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.search_bar_main_container {
  display: flex;
  justify-content: center;
  padding-top: 4rem;
}

.search_bar_container {
  background-color: var(--white-background);
  border-radius: 15px;
  width: 100%;
  max-width: 1400px;
}

.searchBar {
  padding: 1rem;
  border-radius: 15px;
  background: var(--white-font-color);
}

.search_cols_4 {
  border-right: 2px dashed var(--dash-border-color);
}

.search_btn_col {
  display: flex;
  justify-content: center;
}

.search_btn_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search_btn {
  height: auto;
  padding: 1rem 7rem;
  border-radius: 100px;
  background-color: var(--btn-background);
  color: var(--white-font-color);
  font-size: 20px;
  font-family: var(--font-poppins);
  font-weight: 500;
}

.search_btn:hover {
  background-color: var(--btn-background) !important;
}

.inner_main_container {
  display: flex;
  height: 70px;
}
.inner_input_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10px;
  width: 100%;
}

.inner_input_box {
  border: none;
  font-size: 20px;
  font-family: var(--font-poppins);
}

.inner_input_box:focus {
  border: 1px solid;
  border-color: var(--btn-background);
}

.inner_input_date_picker:hover {
  border-color: var(--btn-background);
  border-inline-end-width: 1px;
}
.inner_input_date_picker:focus {
  border-color: var(--btn-background);
  border-inline-end-width: 1px;
}

.destination {
  color: var(--dark-grey-color);
  letter-spacing: 1px;
  margin-left: 0.7rem;
  font-family: var(--font-poppins);
}

/*     ----------------------------------  SWIPER CONTAINER  -----------------------------  */

.golfCourses {
  margin: 3rem 0;
}

.main_golfHeading {
  font-family: var(--font-amiri);
}

.golfHeading {
  color: var(--btn-background-secondary);
  margin-top: 16px;
  margin-bottom: 30px;
  font-family: var(--font-amiri);
}

.para {
  line-height: 2.5pc;
  word-spacing: 1.5px;
  font-family: var(--font-poppins);
}

.sliderImage {
  border-radius: 16px;
}

.parentImage {
  min-width: 332px;
  padding-bottom: 34px;
}

.countryName {
  font-family: var(--font-amiri);
  position: relative;
  left: 30px;
  bottom: 56px;
  color: var(--white-font-color);
}

.viewallBtnParent {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;
  text-decoration: none !important;
}

.viewallBtn {
  background-color: var(--btn-background-secondary);
  color: var(--white-font-color);
  padding: 1.6% 3.6%;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  text-decoration: none !important;
}

.viewallBtn:hover {
  background-color: var(--btn-background-secondary);
  color: var(--white-font-color) !important;
  text-decoration: none !important;
}

/* --------------------------------------- SEARCH CONTAINER ----------------------------------  */

.search_by_golf_containers {
}
.search_by_golf_input_parent_container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.search_by_golf_cols {
  margin-bottom: 2rem;
}

.search_by_golf_input_container {
  width: 100%;
  max-width: 250px;
  font-family: var(--font-poppins);
}

.search_by_golf_input_container_tourni {
  width: 100%;
  font-family: var(--font-poppins);
}

.search_by_golf_input_search_by_tourni {
  flex-direction: row-reverse;
  height: 45px;
  width: 100%;
  border-radius: 2px;
  margin-bottom: 2rem;
  font-family: var(--font-poppins);
  justify-content: space-between;
  background-color: var(--white-btn-font-color);
  color: var(--black-btn-color);
  padding: 0px 14px;
}

.search_by_golf_btn {
  height: auto;
  background-color: var(--btn-background-secondary);
  padding: 0.6rem 2rem;
  border-radius: 4px;
  font-weight: 500;
  font-family: var(--font-poppins);
  letter-spacing: 1px;
  font-size: 15px;
}

.search_by_golf_course_Section {
  margin: 5rem 0;
}

.searchSection {
  background-image: url(../../public/images/shot.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;
}

.searchSection_overlay {
  backdrop-filter: brightness(0.5);
  padding: 5rem;
}
.search_by_golf_inputs {
  flex-direction: row-reverse;
  height: 45px;
  border-radius: 2px;
  margin-bottom: 2rem;
  font-family: var(--font-poppins);
  color: var(--black-btn-color);
}

.content {
  color: var(--white-font-color);
}

.Title {
  line-height: 3.3pc;
  font-family: var(--font-amiri);
}

.searchPara {
  line-height: 2.4pc;
  font-weight: 300;
  letter-spacing: 0.4px;
  font-family: var(--font-amiri);
}

.search_by_golf_input_container_headings {
  font-family: var(--font-amiri);
  font-size: 20px;
}

.search_by_golf_input_container_subheadings {
  font-family: var(--font-amiri);
  font-size: 14px;
}
.searchPart {
  display: flex;
  justify-content: space-evenly;
}

.tournamentDiv {
}

.searchbox {
}

.textArea {
  border: none;
  padding: 10px;
  margin: 12px 36px 15px 0px;
  border-radius: 3px;
  width: 100%;
}

.boxes {
  gap: 42px;
  display: flex;
}

.box {
  border: none;
  padding: 10px;
  margin: 12px 36px 15px 0px;
  border-radius: 3px;
  width: 75%;
}

.btn {
  padding: 8px 38px;
  border-radius: 5px;
  margin: 10px 0px;
  color: var(--white-font-color);
  background-color: var(--btn-background);
  border: none;
}

.ant-dropdown-menu-item, .ant-dropdown-menu-item-only-child {
  background-color: var(--light-grey-background) !important;
}

/* ------------------------------        Golfhōm Hottest New Arrivals         ------------------------------       */

.hottest_new_arrival_section {
  margin: 5rem 0;
}

.hottest_new_arrival__heading {
  margin-bottom: 2rem;
  font-family: var(--font-amiri);
  font-weight: 700;
}

.paraHeading {
  margin-bottom: 45px;
}
.subHeading {
  font-family: var(--font-poppins);
  font-size: 15px;
}

.explore_more_container {
  display: flex;
}
.explore_more_arrow_icon {
  color: black;
  margin-left: 10px;
  font-size: 25px;
}

.arrivalContainer {
  display: flex;
  /* margin: 30px 0px 80px 0px; */
  /* justify-content: space-around; */
  width: auto;
  white-space: break-spaces;
  justify-content: space-between;
  min-width: 200px;
  /* max-width: 200px;     this won't let these images to sit in flex (horizontally) when screen is full, so don't use it */
  flex-wrap: wrap;
  margin: auto;
  height: auto;
  transition: all 0.2 linear;
}

.arrivalContainer_child {
  width: 100%;
  max-width: 400px;
}

.newyork {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)),
    url(/images/settingArea.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  color: white;
  display: flex;
  justify-content: center;
  font-size: 20px;
  align-items: self-end;
  border-radius: 12px;
  justify-content: flex-start;
  padding-bottom: 30px;
  font-family: var(--font-poppins);
  padding-left: 24px;
}

.midImage {
  display: flex;
  place-self: self-end;
  width: 100%;
  max-width: 400px;
}

.midImgTitle {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)),
    url(/images/pool.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  color: white;
  display: flex;
  justify-content: center;
  font-size: 20px;
  align-items: self-end;
  border-radius: 12px;
  justify-content: flex-start;
  font-family: var(--font-poppins);

  padding-bottom: 30px;
  width: 100%;
  padding-left: 24px;
}

.twoImgContainer {
  display: grid;
  place-self: end;
  width: 100%;
  max-width: 400px;
}

.madridImg {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)),
    url(/images/madrid.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 34.5vh;
  color: white;
  display: flex;
  justify-content: center;
  font-size: 20px;
  align-items: self-end;
  border-radius: 12px;
  justify-content: flex-start;
  padding-bottom: 30px;
  padding-left: 24px;
  font-family: var(--font-poppins);
}

.resortImg {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)),
    url(/images/gaintWheel.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 34.5vh;
  color: white;
  display: flex;
  justify-content: center;
  font-size: 20px;
  align-items: self-end;
  border-radius: 12px;
  justify-content: flex-start;
  padding-bottom: 30px;
  padding-left: 24px;
  font-family: var(--font-poppins);
}

/* ------------------------------        CARD SECTION         ------------------------------       */

.cardHeading {
  font-family: var(--font-poppins);
  font-weight: 700;
}

.cardImgTitle {
  font-family: var(--font-poppins);
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 1.3rem;
}

.cardBg {
  background: linear-gradient(rgba(0, 0, 0, 0.04), rgba(0, 0, 0, 0.01));
  padding: 40px 0px;
}

.saddle {
  font-family: var(--font-poppins);
  color: var(--light-font-color);
  margin-bottom: 0.6rem;
  font-size: 14px;
}

.MainCard {
  margin: 36px 0px;
  max-width: 400px;
}

.icon {
  display: flex;
  flex-wrap: wrap;
  color: var(--light-font-color);
  margin-bottom: 0.6rem;
}

.iconImg {
  display: flex;
  margin-right: 15px;
  align-items: center;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}
.iconImg_spans {
  font-size: 12px;
  margin: 0 7px;
  font-family: var(--font-poppins);
}

.parking {
  color: var(--light-font-color);
}

.rightArrow {
  display: flex;
  float: right;
  margin: 5px;
}

.exclusive_btn {
  background-color: #ff6764;
  color: var(--white-font-color);
  border: none;
  padding: 10px 30px;
  margin: 20px;
  border-radius: 5px;
  font-family: var(--font-poppins);
}

/* ------------------------------        GOLFING AND TRAVELING     ----------------------------------  */

.ads {
  padding: 60px 40px;
}

.adsTitle {
  font-family: var(--font-amiri);
  font-weight: 700;
  padding: 30px 0px;
}

.bigDiv {
  padding: inherit !important;
}

.parentAds {
  /* min-width: 130px; */
  text-align: center;
}

.logo {
  background-color: #ff6764;
}

/* ------------------------------------        TRAINING VIDEOS       --------------------------------           */

.golf_training_heading {
  font-family: var(--font-amiri);
  font-weight: 700;
}

.paraBtn {
  display: flex;
  justify-content: space-between;
}

.paratext {
  line-height: 2rem;
  font-family: var(--font-poppins);
}

.viewAll {
  color: var(--btn-background-secondary);
  background-color: white;
  border: none;
  font-family: var(--font-poppins);
}

.parentVideo {
  padding: 40px 0px;
  /* min-width: 300px; */
}

.videoParentdiv {
  margin-bottom: 26px;
}

.videoImg {
  border-radius: 12px;
}

.videoData {
  /* height: 600px; */
  border: none;
}

.videoPlay {
  border-radius: 12px;
  height: 300px;
}

.titleShadow {
  position: relative;
  bottom: 38px;
  left: 36px;
  color: var(--white-font-color);
  width: fit-content;
  font-size: 21px;
  font-weight: 500;
}

/* -----------------------------------        STAFF N WRITERS       -------------------------------              */

.staffCard_title {
  font-family: var(--font-amiri);
  font-weight: 700;
}

.parentOf_img_textCard {
  position: relative;
}

.parentReview {
  padding: 40px 0px 200px 0px;
  min-width: 320px;
}

.cardReview {
  border-radius: 12px;
}

.cardTextParent {
  overflow: hidden;
  background: var(--white-background);
  width: 70%;
  padding: 16px;
  position: absolute;
  top: 206px;
  margin-left: 16px;
}

.contact_div {
  margin-bottom: 3px;
  position: relative;
  right: 4px;
}

.bookmarkDiv {
  position: relative;
  right: 1px;
}

.card_title {
  font-weight: 700;
  font-family: var(--font-poppins);
  font-size: 15px;
}

.byAdmin {
  color: var(--card-text-color);
  font-size: 0.9rem;
  font-family: var(--font-poppins);
  font-size: 12px;
}

.bookmark_text {
  font-family: var(--font-poppins);
  font-size: 14px;
  font-weight: 500;
  color: var(--btn-background-secondary);
}

.learnbtn {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.learnbtn_text {
  color: var(--card-text-secondary);
  margin-right: 10px;
  font-weight: 400;
  font-size: 1.1rem;
}

.learnIcon {
  position: relative;
  top: 5px;
}

/* Bottom IMAGE section */

.grouptalk {
  margin-top: 40px;
  position: relative !important;
}

.newBtn {
  background: var(--white-font-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  bottom: 0px;
  padding: 30px 40px 60px;
  right: 0px;
}

.groupParent {
  max-width: 1560px;
  height: auto;
}

.search {
  width: 25%;
  display: flex;
  justify-content: center;
  background-color: var(--btn-background-secondary);
  color: var(--white-font-color);
  border: none;
}

.grouptalkTitle {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 20px;
  font-family: var(--font-amiri);
}

/*    ---------------------------------         MEDIA QUERY        ---------------------------------             */
@media only screen and (max-width: 768px) {
  .search_cols_4 {
    margin-bottom: 1.5rem;
  }
}

@media only screen and (max-width: 768px) {
  .search_bar_container {
    max-width: 360px;
  }
}
