/*    ------------------------------------   NAVBAR SECTION  --------------------------------   */

.search_bar_img_div {
  background-image: url("/images/golfBoy.png");
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.search_bar_main_container {
  display: flex;
  justify-content: center;
  padding-top: 4rem;
}

.search_bar_container {
  background-color: var(--white-background);
  border-radius: 15px;
  width: 100%;
  max-width: 1400px;
}

.searchBar {
  padding: 1rem;
  border-radius: 15px;
  background: var(--white-font-color);
}

.search_cols_4 {
  border-right: 2px dashed var(--dash-border-color);
}

.search_btn_col {
  display: flex;
  justify-content: center;
}

.search_btn_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search_btn {
  height: auto;
  padding: 1rem 7rem;
  border-radius: 100px;
  background-color: var(--btn-background);
  color: var(--white-font-color);
  font-size: 1.2rem;
  font-family: var(--font-dm-sans);
  font-weight: 500;
}

.inner_main_container {
  display: flex;
  height: 70px;
}
.inner_input_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10px;
  width: 100%;
}

.inner_input_box {
  border: none;
  font-size: 20px;
  font-family: var(--font-dm-sans);
}

.inner_input_box:focus {
  border: 1px solid;
  border-color: var(--btn-background);
}

.inner_input_date_picker:hover {
  border-color: var(--btn-background);
  border-inline-end-width: 1px;
}
.inner_input_date_picker:focus {
  border-color: var(--btn-background);
  border-inline-end-width: 1px;
}

.destination {
  color: var(--dark-grey-color);
  letter-spacing: 1px;
  margin-left: 0.7rem;
}

/*     ----------------------------------  SWIPER CONTAINER  -----------------------------  */

.golfCourses {
  margin: 3rem 0;
}

.golfHeading {
  color: var(--btn-background-secondary);
  margin-top: 16px;
  margin-bottom: 30px;
}

.para {
  line-height: 2.5pc;
  word-spacing: 1.5px;
}

.sliderImage {
  border-radius: 16px;
}

.countryName {
  position: relative;
  left: 30px;
  bottom: 56px;
  color: var(--white-font-color);
}

/* --------------------------------------- SEARCH CONTAINER ----------------------------------  */

.searchSection {
  margin-top: 40px;
  background-image: url(../../public/images/shot.png);
  background-repeat: no-repeat;
}

.shotMan {
  position: absolute;
}

.Title {
  line-height: 3.3pc;
}

.searchPara {
  line-height: 2.4pc;
  font-weight: 300;
  letter-spacing: 0.4px;
}

.content {
  position: relative;
  align-content: center;
  padding: 56px 58px;
  color: var(--white-font-color);
}

.tournamentDiv {
  position: relative;
  left: 78px;
}

.searchbox {
  width: 100%;
}

.textArea {
  border: none;
  padding: 10px;
  margin: 12px 36px 15px 0px;
  border-radius: 3px;
  width: 100%;
}

.boxes {
  gap: 42px;
}

.box {
  border: none;
  padding: 10px;
  margin: 12px 36px 15px 0px;
  border-radius: 3px;
  width: 75%;
}

.btn {
  padding: 8px 38px;
  border-radius: 5px;
  margin: 10px 0px;
  color: var(--white-font-color);
  background-color: var(--btn-background);
  border: none;
}

/* ------------------------------        CARD SECTION         ------------------------------       */

.cardBg {
  background: linear-gradient(rgba(0, 0, 0, 0.04), rgba(0, 0, 0, 0.01));
  padding: 40px 0px;
}

.saddle {
  color: var(--light-font-color);
  margin-bottom: 0.6rem;
}

.MainCard {
  margin: 36px 0px;
}

.icon {
  display: -webkit-inline-box;
  color: var(--light-font-color);
  margin-bottom: 0.6rem;
}

.iconImg {
  display: flex;
  width: 38%;
}

.parking {
  color: var(--light-font-color);
}

.rightArrow {
  display: flex;
  float: right;
  margin: 5px;
}

.loadbtn {
  text-align: center;
}

.exclusive_btn {
  background-color: #ff6764;
  color: var(--white-font-color);
  border: none;
  padding: 10px 30px;
  margin: 20px;
  border-radius: 5px;
}

/* ------------------------------------       VACATION-RENTAL       ----------------------------------        */

.blurImg {
  background-image: url(/images/background.png);
  height: 632px;
  background-repeat: no-repeat;
  background-size: cover;
}

.golfPit {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pitImg {
  display: flex;
  align-items: flex-end;
}

.golfText {
  display: flex;
  align-items: center;
}
.vacaDiv {
  width: 84%;
}

.vacationTitle {
  color: #2f2f2f;
  width: 84%;
  letter-spacing: 1px;
}

.vacationPara {
  line-height: 2.6rem;
  margin: 25px 0px;
}

/* ------------------------------        GOLFING AND TRAVELING     ----------------------------------  */

.ads {
  padding: 60px 40px;
}

.adsTitle {
  padding: 40px 0px;
}

.bigDiv {
  padding: inherit !important;
}

/*  -----------------------------       EXCLUSIVE PROPERTISE    --------------------------------           */

.exclusive {
  background-image: url(/images/room.png);
  height: 68vh;
  background-repeat: no-repeat;
  border-radius: 16px;
  width: 98%;
  display: grid;
  place-items: center;
}

.exHeading {
  color: var(--white-font-color);
}

.extitle {
  font-size: 3rem;
  font-weight: 350;
  text-align: center;
}

.exProp {
  text-align: center;
  font-size: 2.8rem;
}

/*    ---------------------------------         MEDIA QUERY        ---------------------------------             */
@media only screen and (max-width: 768px) {
  .search_cols_4 {
    margin-bottom: 1.5rem;
  }
}
