@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;1,400;1,500&display=swap");

:root {
  --font-dm-sans: "DM Sans", sans-serif;
  --light-font-color: #636363;
  --btn-background: #ff7757;
}
