/*------------------------ PRIVACY POLICY TOP IMAGE------------------------ */
.topImage {
    width: 100%;
    height: auto;
    position: relative;
}

.topImgChild {
    position: relative !important;
    margin-bottom: 20px;
}

/*------------------------ PRIVACY POLICY TEXT CONATINER------------------------ */

.privacyTitle {
    margin: 20px 0px;
    font-weight: 600;
    font-family: var(--font-amiri);
}

.paraA, .paraB, .paraC, .paraD, .paraE, .paraF, .paraG, .paraH, .paraI, .paraJ, .paraK, .paraL, .paraM, .paraN, .paraO, .paraP, .paraQ, .paraR, .paraS, .paraT, .paraU, .paraV, .paraW, .paraX {
    color: var(--light-font-color);
    font-family: var(--font-poppins);
    font-weight: 400;
    margin: 30px 0px;
    font-size: 0.8rem;
}

.paraX {
  margin-bottom: 100px;
}

.personal {
    font-family: var(--font-poppins);
    font-weight: 500;
    margin: 18px 0px;
}

.smallHeading {
  font-family: var(--font-poppins);
  
}
  