.targetBall {
    width: 100%;
    height:auto
}

.imgTargetBall {
    position: relative !important;
}

.columnA {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.golfheading {
    font-family: var(--font-amiri);
    font-weight: 700;
}

.para {
   font-family: var(--font-poppins);
   color: var( --light-font-color);
}

.registerParent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.columnB {
    position: relative;
    bottom: 84px;
}

.registerTitle {
    background: var(--btn-background-secondary);
    color: var(--white-font-color);
    font-family: var(--font-amiri);
    padding: 30px 16px;
    font-weight: 590;
}

.registerContent {
    padding: 20px;
}

.inputParent {
    flex-wrap: wrap;
    border: 1px solid var(--light-font-color);
    border-radius: 8px;
    width: 100%;
    padding: 12px 0px;
    font-family: var(--font-poppins);
  }
  
  .inputA {
    width: 90%;
    border: none;
  
    margin-left: 14px;
  }
  
  .inputB {
    width: 90%;
    border: none;
    margin-left: 14px;
  }
  
  .inputC {
    width: 90%;
    border: none;
    margin-left: 14px;
  }
  
  .inputD {
    width: 90%;
    border: none;
    margin-left: 14px;
  }
  
  .agreeOptionA {
    font-size: 1rem;
    font-weight: 700;
    margin: 16px 0px;
    font-weight: var(--font-poppins);
  }
  
  .agreeOptionB {
    font-size: 1rem;
    font-weight: 700;
    font-weight: var(--font-poppins);
    margin-bottom: 14px;
  }
  
  .registerBtn {
   width: 100%;
   background: #111111;
   color: var(--white-font-color);
   font-size: 0.8rem;
   font-weight: 500;
   font-family: var(--font-poppins);
   text-align: center;
   border-radius: 0% !important;
   margin: 20px 0px;
   padding: 6% 0%;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
  }

  .registerBtn:hover {
    background: var(--btn-background-secondary);
    border: none !important;
  }

  
@media only screen and (max-width: 768px) {
    .columnA,
    .columnB {
     order: 0; 
    }
    .columnB {
      margin-top: 100px; 
    }
  }