.edit_details_main_section {
  margin: 3rem 0;
}

.edit_details_container_cols {
  margin-bottom: 1.5rem;
}

.edit_details_btn_parent_container {
  height: 100%;
  display: flex;
  justify-content: center;
}
.edit_details_btn_child_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.edit_details_date_picker {
  width: 100%;
}

.edit_details_btn {
  padding: 0.6rem 3rem !important;
  height: auto !important;
  border-radius: 0 !important;
  color: var(--btn-background);
  border-color: var(--btn-background);
}

.edit_room_dropdown_btn {
  width: 100%;
}

.edit_room_dropdown_btn_space {
  width: 100%;
  justify-content: space-between;
}

.edit_room_dropdown_icon {
  display: flex;
}

/*    ----------------      CARD MAP SECTION      -------------------   */


.search_main_section {
  background-color: rgb(249, 249, 249);
}
.containerBack {
  flex-wrap: wrap;
  display: flex;
}

.orlandoHead {
  padding: 32px 14px;
  font-family: var(--font-amiri);
  font-size: 2rem;
  font-weight: 600;
}

.mainOrland {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.horizontaLine {
  border-top: 2px solid rgb(225, 220, 220);
}

.sortSection {
  display: flex;
  justify-content: space-between;
  margin: 22px 0px;
  flex-wrap: wrap;
}

.cardCol {
  height: auto;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}

.rental {
  font-family: var(--font-poppins);
  font-weight: 400;
}

.iconImg {
  display: flex;
  width: 38%;
}

.sort {
  align-self: center;
  margin-right: 10px;
  font-family: var(--font-poppins);
}

.sortdiv {
  display: flex;
  margin-right: 20px;
}

.default {
  font-family: var(--font-poppins);
  font-weight: 500;
}

.cardMapParent {
  display: flex;
  flex-wrap: wrap;
}

.mapParent {
  flex: 1;
  height: 695px; 
}

.map {
  position: relative !important;
}

/*  -----------------     PAGINATION CONTAINER     -----------------   */

.pagination_container {
 padding: 5rem 0;
  display: flex;
  justify-content: center;
  width: 100%;
}

.pagination {
 
}

.buildings {
  /* max-width: 1560px;
  height: auto; */
}

.buildingImg {
  position: relative !important;
}

/* --------------------        DETAIL COLUMN CSS           --------------    */

.detailParent {
  border: 1px solid #636363;
  border-radius: 16px;
  padding: 30px;
}

.details {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 20px;
  font-family: var(--font-amiri);
}

.tickParent {
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
}

.tick_with_blackbg {
  color: #111111;
}

.words {
  margin-left: 24px;
}


@media (max-width: 768px) {
  .cardMapParent {
    flex-direction: column;
  }
  
  .mapParent {
    order: -1;
  }

  .heart {
    position: absolute;
    height: 22% !important;
    width: 8% !important;
    left: 450px !important;
    top: 0;
    right: 0px;
    bottom: 0px;
    color: transparent;
  }
}