.edit_details_container_cols {
  margin-bottom: 1.5rem;
}

.edit_details_btn_parent_container {
  height: 100%;
  display: flex;
  justify-content: center;
}
.edit_details_btn_child_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.edit_details_btn {
  padding: 0.6rem 3rem !important;
  height: auto !important;
  border-radius: 0 !important;
  color: var(--btn-background);
  border-color: var(--btn-background);
}

.edit_room_dropdown_btn {
  width: 100%;
}

.edit_room_dropdown_btn_space {
  width: 100%;
  justify-content: space-between;
}

.edit_room_dropdown_icon {
  display: flex;
}


/* -------------------           ORLANDO  SECTION          --------------------------    */

.containerBack {
  background-color: rgb(249, 249, 249);
  flex-wrap: wrap;
  display: flex;
}

.orlandoHead {
  padding: 32px 0px;
}

.orlandoImg {
 position: relative !important;
 
}

.mainOrland {
 display: flex;
 justify-content: space-between;
 flex-direction: row;
 flex-wrap: wrap;
}

.orlandParent {
  border-top: 1px solid rgb(225, 220, 220);
}

.sortSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 22px 0px;
  flex-wrap: wrap;
}

.combo {
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
 box-shadow: 0 3px 6px rgba(2, 0.2, 0.2, 0.2);
 margin: 10px;
 background-color: var( --white-background);
 justify-content: center;
}

.text {
  padding: 18px 9px;
  display: grid;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}

.saddle {
  color: var(--light-font-color);
  font-weight: 400;
  line-height: 21.55px;

}
.rental {

}

.iconImg {
  display: flex;
  width: 38%;
}

.iconName {
  margin: 0px 10px;
  font-size: 13.25px;
  line-height: 21.55px;
}

.sort {
  align-self: center;
  margin-right: 10px;
}

.sortdiv {
  display: flex;
  margin-right: 20px;
}

.default {

}

.mapParent {
  max-width: 570px;
}

.map {
  position: relative !important;
}

.iconSmall {
  display: flex;
  flex-wrap: wrap;
  margin: 8px 0px;
}

.price {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 8px;
}

.night {
  color: #B3B3B3;
  font-size: 1rem;
}

.amount {
  color: var(--btn-background);
}

.btnD {
  background-color: var(--btn-background);
  color: var(--white-font-color);
  margin-left: 20px;
  padding: 4px 30px;
}

.heartBtn {
  display: flex;
}

.heart {
  border: 2px solid #B3B3B3;
  border-radius: 5px;
  padding: 0px 5px;
}