.view_prop_bannerimg_section {
}
.view_prop_bannerimg_container {
}

.view_prop_bannerimg {
  position: relative !important;
}

/* OVERVIEW TAB SECTION */
.tab_overview_prop_heading {
  font-family: var(--font-amiri);
  font-weight: 700;
  font-size: 30px;
  margin: 2rem 0;
}

.tab_overview_prop_small_subheading {
  font-family: var(--font-poppins);
  color: var(--light-font-color);
}

.tab_overview_prop_subheading {
  font-family: var(--font-poppins);
  font-weight: 500;
}
.amenities_details_row {
  justify-content: space-between;
  margin: 3rem 0;
  border-bottom: 1px solid var(--light-font-color);
}

.amenities_details_container {
  text-align: center;
}
.amenities_details_img_container {
}
.amenities_imgs {
}

.amenities_details_main_heading {
  font-family: var(--font-poppins);
  font-size: 20px;
}

.amenities_details_main_subheading {
  font-family: var(--font-poppins);
  font-weight: 500;
}

/* ABOUT SECTION STARTED HERE */
.about_section_main_heading {
  font-family: var(--font-amiri);
  font-weight: 700;
  font-size: 30px;
}
.about_section_para {
  font-family: var(--font-poppins);
  font-size: 13px;
  margin: 2rem 0;
}

/* FEATURE SECTION STARTED HERE */
.feature_section {
  background-color: var(--light-grey);
  padding: 3rem 0;
}
.feature_section_heading {
  margin-bottom: 2rem;
  font-family: var(--font-amiri);
  font-weight: 700;
  font-size: 25px;
}

.feature_section_div_container {
  display: flex;
  align-items: center;
  margin: 1.5rem 0;
}

.feature_section_tick_icon_container {
  display: flex;
}

.feature_section_text {
  margin: 0 1rem;
  font-family: var(--font-poppins);
}

/* CARASOUL IMAGE SECTION STARTED HERE */
.carasoul_section {
}
.carasoul_images {
  position: relative !important;
}

/*  ------------    Total price box    ----------   */

.parentRow {
  position: relative;
}

.backgroundWhite {
  background: var(--white-font-color);
  position: relative;
  bottom: 96px;
  padding: 0%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}
.inner_input_date_picker {
  border: none;
  padding: 6px 10px;
}

.inner_input_date_picker:hover {
  border: none;
  border-inline-end-width: 1px;
}
.inner_input_date_picker:focus {
  border: none;
  border-inline-end-width: 1px;
}

.totalParent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 14px 14px 0px 14px;
}

.totalPrice {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  justify-content: space-between;
}

.totalTitle {
  display: flex;
  justify-content: center;
}

.amount {
  align-self: center;
  display: flex;
  justify-content: center;
  margin: 0px 16px;
}

.bookParent {
  align-self: center;
  width: fit-content;
}

.bookNow {
  background-color: var(--btn-background-secondary);
  color: var(--white-font-color);
  border: none;
}

.bookNow:hover {
  background-color: var(--btn-background-secondary);
  color: var(--white-font-color);
  border: none;
}

.horizonaline {
  border: 1px solid black;
}

.guest {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: none;
  color: #111111;
  border: none;
  font-size: 1.4rem;
  font-weight: 600;
}

.guest::after {
  align-self: center;
}

.guest:hover {
  background: none;
  border: none;
  color: #111111;
}

.increase {
  flex-wrap: wrap;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 14px;
}

.check {
  background-color: var(--btn-background-secondary);
  color: var(--white-font-color);
  border: none;
  padding: 12px 50px;
  font-size: 1.1rem;
  font-weight: 600;
}

.check:hover {
  background-color: var(--btn-background-secondary);
  color: var(--white-font-color);
  border: none;
}

.checkParent {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.adultChild {
  width: 100%;
  padding: 18px;
}

.increaseAdult,
.increaseChild {
  padding: 8px 56px;
  background: var(--white-font-color);
  color: var(--btn-background-secondary);
  border: 1px solid var(--btn-background-secondary);
}

.applyParent {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 14px;
}

.apply {
  background-color: var(--btn-background-secondary);
  color: var(--white-font-color);
  border: none;
  padding: 8px 42px;
}

.apply:hover {
  background-color: var(--btn-background-secondary);
  color: var(--white-font-color);
  border: none;
}

.apply:active {
  background-color: var(--btn-background-secondary);
  color: var(--white-font-color);
  border: none;
}

/* MAP SECTION STARTS HERE */
.map_section {
  padding: 5rem 0;
}

.map_section_image {
  position: relative !important;
}

/* VIDEO SECTION */

.video_section {
  margin: 3rem 0;
}

.video_section_container {
  display: flex;
  justify-content: center;
  height: 500px;
}

/* THINGS TO KNOW SECTION */

.things_to_know_price_container {
  display: flex;
  align-items: center;
}

.things_to_know_section_rows {
  margin: 2rem 0;
}

.things_to_know_section_cols {
  margin: 1rem 0;
  padding: 0;
}

.things_to_know_section_heading {
  padding: 0;
  font-family: var(--font-amiri);
  font-size: 24px;
  font-weight: 600;
}
.things_to_know_price_icon_container {
  display: flex;
  align-items: center;
}

.things_to_know_price_icon {
}

.things_to_know_price_text {
  margin: 0 1.2rem;
  font-family: var(--font-poppins);
}

.things_to_know_info_span {
  font-family: var(--font-poppins);
  font-weight: 500;
}

/* Cancellation Policy */
.things_to_know_privacy_text {
  padding: 0;
  font-family: var(--font-poppins);

  margin: 1rem 0;
}

/* Bottom section */

.grouptalk {
  margin-bottom: 50px;
  position: relative !important;
}

.newBtn {
  background: var(--white-font-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  bottom: 44px;
  padding: 30px 40px 60px;
  right: 0px;
}

.search {
  width: 25%;
  display: flex;
  justify-content: center;
  background-color: var(--btn-background-secondary);
  color: var(--white-font-color);
  border: none;
}

.detailParent {
  border: 1px solid #636363;
  border-radius: 16px;
  padding: 30px;
}

.details {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 20px;
  font-family: var(--font-amiri);
}

.tickParent {
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
}

.tick_with_blackbg {
  color: #111111;
}

.words {
  margin-left: 24px;
}

.grouptalkTitle {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 20px;
  font-family: var(--font-amiri);
}