/* TOP IMAGE OF VIEW ALL PROPERTY PAGE */
.headImage {
  height: auto;
}

.imageChild {
  position: relative !important;
}

.heading {
  font-family: var(--font-amiri);
  color: #2f2f2f;
  font-weight: 600;
}

.golfCourse {
  color: var(--btn-background-secondary);
}

.textContainer {
  margin: 30px 0px;
}

.para {
  font-family: var(--font-poppins);
}

/* COLUMNS SECTION */

.columnParent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.columnsA,
.columnsB,
.columnsC,
.columnsD {
  width: 300px;
  height: 264px;
  position: relative !important;
  margin: 30px 0px;
}

.countryName {
  position: relative;
  top: 208px;
  left: 10px;
  color: var(--white-font-color);
  font-family: var(--font-amiri);
}

/*  -----------------     PAGINATION CONTAINER     -----------------   */

.pagination_container {
  padding: 5rem 0;
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.pagination {
}

/* ---------------     DETAIL OPTION      --------------------  */

.detailParent {
  border: 1px solid #636363;
  border-radius: 16px;
  padding: 30px;
}

.details {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 20px;
  font-family: var(--font-amiri);
}

.tickParent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tick_with_blackbg {
  color: #111111;
}

.words {
  margin-left: 24px;
}
